pkgbase = realvnc-vnc-server
	pkgdesc = VNC remote desktop server software by RealVNC
	pkgver = 6.10.0
	pkgrel = 1
	url = https://www.realvnc.com/
	install = realvnc-vnc-server.install
	arch = aarch64
	license = custom
	depends = libsm
	depends = libxtst
	depends = xorg-xauth
	optdepends = cups: Printer support
	conflicts = tightvnc
	conflicts = tigervnc
	conflicts = turbovnc
	source_aarch64 = https://downloads.realvnc.com/download/file/vnc.files/VNC-Server-6.10.0-Linux-ARM64.deb
	sha256sums_aarch64 = a490622ca6f6ef27366d191482edefd9549ed869b8a2b3a71c1e78a99aead9a3

pkgname = realvnc-vnc-server

